In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [5]:
df = pd.read_csv('Uncleaned_Cnn.csv')

In [6]:
df

,title,views,when
0,College grad challenges Justice Thomas' argume...,2.9K views,19 minutes ago
1,College grad challenges Justice Thomas' argume...,2.9K views,19 minutes ago
2,"AI needs 'a new era of law and regulation,' sa...",10K views,9 hours ago
3,Hear why Pence wanted to meet with Zelensky an...,86K views,16 hours ago
4,Watch as verdict is read in former Parkland sc...,26K views,21 hours ago
...,...,...,...
423,CNN fact-checks Biden's State of the Union speech,135K views,4 months ago
424,Russian mercenaries reveal what happened to so...,1.2M views,4 months ago
425,Video shows trapped child comfort sibling unde...,123K views,4 months ago
426,'Liar!': Marjorie Taylor Greene interrupts Bid...,1.1M views,4 months ago
427,McCarthy reveals Santos is facing House ethics...,270K views,4 months ago

In [7]:
# Splitting "views" column into columns "views" and "views_text"
df[['views','views_text']] = df['views'].str.split(expand=True)
df

,title,views,when,views_text
0,College grad challenges Justice Thomas' argume...,2.9K,19 minutes ago,views
1,College grad challenges Justice Thomas' argume...,2.9K,19 minutes ago,views
2,"AI needs 'a new era of law and regulation,' sa...",10K,9 hours ago,views
3,Hear why Pence wanted to meet with Zelensky an...,86K,16 hours ago,views
4,Watch as verdict is read in former Parkland sc...,26K,21 hours ago,views
...,...,...,...,...
423,CNN fact-checks Biden's State of the Union speech,135K,4 months ago,views
424,Russian mercenaries reveal what happened to so...,1.2M,4 months ago,views
425,Video shows trapped child comfort sibling unde...,123K,4 months ago,views
426,'Liar!': Marjorie Taylor Greene interrupts Bid...,1.1M,4 months ago,views
427,McCarthy reveals Santos is facing House ethics...,270K,4 months ago,views

In [8]:
# Removing Column "views_txt"
df.drop("views_text",axis=1,inplace=True)

In [9]:
# Removing duplicates 'title'
df.drop_duplicates('title',inplace=True)

In [10]:
# Resetting Index after removing duplicates
x = list(range(0,len(df)))
df.index = x
df

                                                 title views            when
0    College grad challenges Justice Thomas' argume...  2.9K  19 minutes ago
1    AI needs 'a new era of law and regulation,' sa...   10K     9 hours ago
2    Hear why Pence wanted to meet with Zelensky an...   86K    16 hours ago
3    Watch as verdict is read in former Parkland sc...   26K    21 hours ago
4    Legal analyst identifies part of ruling that l...   86K       1 day ago
..                                                 ...   ...             ...
422  CNN fact-checks Biden's State of the Union speech  135K    4 months ago
423  Russian mercenaries reveal what happened to so...  1.2M    4 months ago
424  Video shows trapped child comfort sibling unde...  123K    4 months ago
425  'Liar!': Marjorie Taylor Greene interrupts Bid...  1.1M    4 months ago
426  McCarthy reveals Santos is facing House ethics...  270K    4 months ago

[427 rows x 3 columns]

In [12]:
import humanize

# Convert the 'views' column to numeric values
df['views'] = df['views'].str.replace('K', 'e3').str.replace('M', 'e6').astype(float)

# Sort the DataFrame based on views in descending order
sorted_df = df.sort_values('views', ascending=False)

# Get the top 10 titles, views, and when
top_10_titles = sorted_df[['title', 'views', 'when']].head(10)

# Format the 'views' column using humanize library
top_10_titles['views'] = top_10_titles['views'].apply(lambda x: humanize.intword(x))

# Display the table using pandas DataFrame
top_10_titles

,title,views,when
371,Hear Chinese warning to US plane in midair ove...,5.9 million,4 months ago
319,CNN follows migrants illegally entering Canada...,3.4 million,3 months ago
269,Russia is ‘getting hammered’: Top US general o...,3.1 million,3 months ago
278,Jon Stewart: This is why Trump became popular ...,2.8 million,3 months ago
370,Historian predicts how Russia's war in Ukraine...,2.1 million,4 months ago
355,See Marjorie Taylor Greene's reaction when GOP...,1.7 million,3 months ago
312,A blob twice the width of the US is heading to...,1.7 million,3 months ago
55,Bolton makes prediction on Trump's political c...,1.7 million,2 weeks ago
298,Hear what Xi said to Putin during critical mee...,1.6 million,3 months ago
359,Bill Maher on wokeness and why having an older...,1.5 million,3 months ago

In [13]:
# Combine all the titles into a single string
all_titles = ' '.join(df['title'])

# Tokenize the titles into individual words
words = word_tokenize(all_titles)

# Remove stopwords from the list of words
stopwords_list = set(stopwords.words('english'))
filtered_words = [word for word in words if word.lower() not in stopwords_list]

# Join the filtered words back into a single string
filtered_titles = ' '.join(filtered_words)

# Create a WordCloud object
wordcloud = WordCloud(width=1000, height=600, background_color='black').generate(filtered_titles)

# Display the word cloud using matplotlib
plt.figure(figsize=(12, 8))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.show()

LookupError:
**********************************************************************
  Resource punkt not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('punkt')

  For more information see: https://www.nltk.org/data.html

  Attempted to load tokenizers/punkt/english.pickle

  Searched in:
    - 'C:\\Users\\NHQE1/nltk_data'
    - 'C:\\Users\\NHQE1\\AppData\\Local\\Programs\\Python\\Python312\\nltk_data'
    - 'C:\\Users\\NHQE1\\AppData\\Local\\Programs\\Python\\Python312\\share\\nltk_data'
    - 'C:\\Users\\NHQE1\\AppData\\Local\\Programs\\Python\\Python312\\lib\\nltk_data'
    - 'C:\\Users\\NHQE1\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
    - ''
**********************************************************************